header {

    h1 {
        font-size: 3.2rem;
        text-align: center;

        &::after {
            content: "*";
            position: absolute;
            transform: translateY(-6px);
        }
    }
}