nav {
    background: #00ff00;
    border-radius: 10px;

    ul {
        display: flex;
        justify-content: space-around;
    }
    li {
        list-style: none;
    }
}

header {

    h1 {
        font-size: 3.2rem;
    }
}

